@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


body {
  width: 700px;
  margin: 0 auto;
  background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  color: whitesmoke;
  border: 10px solid #FFFFFF;
  border-radius: 30px;
  padding: 1.5em;
  text-shadow: 1px 2px 10px #2E294E;
  
}

header h1 {
  font-family: 'Audiowide', sans-serif;
  color: #FFFFFF;
  padding: 1em;
}

.foto-desc {
  display: flex;
  justify-content: space-between;
}

.foto-desc p {
  width: 45%;
}

img {
  filter: drop-shadow(0 0 0.75rem whitesmoke);
  width: 45%;
  margin: 0 auto;
  border-radius: 50%;
}

ul {
  list-style: none;
  padding: 0;
}

li:nth-child(odd) {
  font-family: 'Audiowide', cursive;
}

li {
  
  margin: 10px auto;
  
}

.accent {
  font-size: 3rem;
  font-weight: bold;
  
}

.nacionalidade {
  color: #f4ac45;
  font-size: 2em;
}

.cidade {
  color: #d7263d;
  font-weight: bold;
}